.container {
  display: flex; /* Aktiverer flexbox for at arrangere elementerne */
}

.vertCard {
  width: 33%; /* Bredden på det vertikale kort (kan justeres) */
  height: 200px; /* Højde på det vertikale kort */
  background-color: #FAF0E6; /* Baggrundsfarve til vertCard */
  margin-right: 20px; /* Plads mellem kortet og rækkerne */
  
}

.parrentHoriCard {
  width: 100%;
  display: flex; /* Aktiverer flexbox for rækkerne */
  flex-direction: column; /* Arrangerer rækkerne i en kolonne */
}

.row {
  height: 100px; /* Halv højde af vertCard */
  width: 100%;
  display: flex; /* Aktiverer flexbox for at arrangere indholdet i rækkerne */
  align-items: center; /* Centrerer indholdet vertikalt */
  margin-bottom: 10px; /* Plads mellem rækkerne */
}

.card1 {
  background-color: #FF6F61; /* Baggrundsfarve til kortene */
  flex: 1; /* Får kortene til at fylde rækkerne */
  padding: 10px; /* Indvendig padding */
  color: white; /* Tekstfarve */
  text-align: center; /* Centrerer teksten */
}
.card2 {
  width: 50%;
  
}

div {
  border: 0.5px solid greenyellow;
}